/* colors
bg #111111
orange #FE9E0B
grey #A5A5A5
white #FFFFFF
*/

.calc{
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.calc-screen {
    height: 115px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
}

.calc-screen p{
    text-align: right;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 20px;
}

.buttons{
    display: grid;
    grid-template-areas:
    "AC plus-minus percent division"
    "7 8 9 multiply"
    "4 5 6 minus"
    "1 2 3 plus"
    "zero zero dot equal";
    grid-template-rows: repeat(5,auto);
    grid-template-columns: repeat(4,auto);
    grid-gap: 7px;
    justify-items: center;
}

.btn{
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn.zero{ 
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}

.btn:hover {
    filter: brightness(130%);
}

.btn:active {
    filter: brightness(80%);
}
.btn.bg-grey{
    background: #a5a5a5;
}
.btn.bg-orange{
    background: #FE9E0B;
}

